@import 'tailwindcss';

/* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} */
* {
    box-sizing: border-box;
}

select,
input {
    margin: 0;
    min-height: 36px;
    max-height: 36px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 0 31px 0 12px;

    /* width: 200px; */
    box-shadow: none;
    color: gray;
    /* min-width: 250px; */

    &:active {
        border: 1px solid gray;
    }

    &:focus {
        box-shadow: none;
        border: 1px solid #d5d5d5;
    }
}
