@import 'tailwindcss';

/* body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} */
* {
    box-sizing: border-box;
}

select,
input {
    &:active {
        border: 1px solid gray;
    }

    &:focus {
        box-shadow: none;
        border: 1px solid #d5d5d5;
    }
}
